<div class="ui primary teal inverted segment">
  <p>Remember -- try to get the LOWEST score possible</p>
</div>

<h1 style="text-align: center">Your Scores</h1>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @games.each do |game| %>
      <td><%= game.location.city %></td>
      <td><%= game.score %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<h1 style="text-align:center">Leaderboard</h1>
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @locations.each do |location| %>
      <td><%= location.city %></td>
      <td><%= location.top_scorer.username %></td>
      <td><%= location.top_game.score %></td>
    </tr>
      <% end %>
  </tbody>
</table>


<script>
$(document).ready(function() {

  $("table").tablesort();

});
</script>
