<div id="timer"><i class="wait icon"></i></div>

<div class="street-view">
  <div id="map-canvas" style="width:100%; height:450px" data-id="
    <%= @location.id %>">
  </div>
</div>

<div class="guess-button">
  <button class="ui black basic fluid button">Guess where I am</button>
</div>

<div class="ui basic modal">
  <div class="header" style="text-align:center">
    Drag the pin to where you think you are on the map. Click submit.
  </div>
  <div id="map" style="width:100%; height:450px;"></div>
  <div class="actions">
    <div id="guess">
       <%= form_for(@game) do |f| %>
       <%= f.hidden_field :location_id, class: "locaty", value: @location.id %>
       <%= f.hidden_field :lat_guess, class: "latguess" %>
       <%= f.hidden_field :lng_guess, class: "lngguess" %>
       <%= f.submit "Submit", class: "large ui teal basic fluid inverted button" %>
       <% end %>
    </div>
    <div>
      <%= link_to "Go home", root_path, class:"large ui pink basic fluid inverted button" %>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    // TIMER function that opens the modal
    var count = 10;

    var counter = setInterval(timer, 1000);

    function timer(){
      count = count -1;

      if (count <= 0) {
        clearInterval(counter);

      $('#timer').html();
        $('.ui.basic.modal').modal({
          closable: false
        })
        .modal('show');

        setTimeout(initMap, 0);

       return;
      }
    //Shows the seconds
    document.getElementById("timer").innerHTML=count + " secs";
    }


    // MODAL button clicking function
    $('.ui.black.basic.fluid.button').click(function(){
      $('.ui.basic.modal').modal({
        closable: false
      })
      .modal('show');

      setTimeout(initMap, 0);
    });


    // GOOGLE street view map
    function initialize() {
      var lat = <%= @location.latitude %>
      var lng = <%= @location.longitude %>

      var location =  new google.maps.LatLng(lat, lng);
      var panoramaOptions = {
        position: location,
        addressControl: false,
        linksControl: false,
        panControl: false,
        zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
        },
        enableCloseButton: false
      };

    var myPano = new google.maps.StreetViewPanorama(document.getElementById('map-canvas'),
        panoramaOptions);
    myPano.setVisible(true);

    // disable link to location on google logo
    setInterval(function() {
      $('.gm-style').find('a').first().attr('href', 'http://maps.google.com');
    }, 50)
    }

    google.maps.event.addDomListener(window, 'load', initialize);



    // POP UP map in the modal
    function initMap() {

    var mapOptions = {
      zoom: 2,

      center: new google.maps.LatLng(29, -11),

      styles: [{"elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"color":"#f5f5f2"},{"visibility":"on"}]},{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","stylers":[{"visibility":"off"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"visibility":"simplified"},{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"color":"#ffffff"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","stylers":[{"color":"#ffffff"}]},{"featureType":"poi.park","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#71c8d4"}]},{"featureType":"landscape","stylers":[{"color":"#e5e8e7"}]},{"featureType":"poi.park","stylers":[{"color":"#8ba129"}]},{"featureType":"road","stylers":[{"color":"#ffffff"}]},{"featureType":"poi.sports_complex","elementType":"geometry","stylers":[{"color":"#c7c7c7"},{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#a0d3d3"}]},{"featureType":"poi.park","stylers":[{"color":"#91b65d"}]},{"featureType":"poi.park","stylers":[{"gamma":1.51}]},{"featureType":"road.local","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"poi.government","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"landscape","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","stylers":[{"visibility":"simplified"}]},{"featureType":"road"},{"featureType":"road"},{},{"featureType":"road.highway"}]
   };


   var map = new google.maps.Map(document.getElementById('map'),
       mapOptions);

   var marker = new google.maps.Marker({
       position: new google.maps.LatLng(40.6700, -73.9400),
       map: map,
       draggable: true
   });

   var pinPosition = {};

   google.maps.event.addListener(marker, 'dragend', function(event) {
     console.debug('new position is '+event.latLng.lat()+' / '+event.latLng.lng());
     pinPosition.lat_guess = event.latLng.lat()
     $(".latguess").val(pinPosition.lat_guess)
     pinPosition.lng_guess = event.latLng.lng()
     $(".lngguess").val(pinPosition.lng_guess)
   });

   }
// google.maps.event.addDomListener(window, 'load', init);

});
</script>
