<div class="ui very relaxed stackable page grid">
  <div class="row">
    <div class="eleven wide column">
      <span class="reveal">
        <h1>You're in <%= @location.city %>!</h1>
      </span>
      <div class="show-page-map">
        <div id="show-map" style="width:100%; height:400px;"></div>
      </div>
    </div>

    <div class="five wide column">
      <div class="score">
        <p>Miles away:  <%= @game.score %></p>
      </div>
      <div class="points-earned">
        <p>Score:  <%= @game.points %> points</p>
        <p>You earned a
          <% if @game.points >= 5001 %>
            <i style="color:#965A38;" class="fa fa-diamond fa-2x fa-spin"></i> bronze medal</p>
          <% elsif @game.points >= 2001 %>
            <i style="color:#A8A8A8;" class="fa fa-diamond fa-2x fa-spin"></i> silver medal</p>
          <% elsif @game.points >= 101 %>
            <i style="color:#D9A441;" class="fa fa-diamond fa-2x fa-spin"></i> gold medal</p>
          <% else %>
            <i style="color:#CCC2C2;" class="fa fa-diamond fa-2x fa-spin"></i> platinum medal</p>
          <% end %>
      </div>
      <div class="play-again">
        <div class="ui teal button"><%= link_to "Play Next Level", new_game_path %></div>
      </div>
      <div class="play-again">
        <div class="ui purple button"><%= link_to "Your Scores // Top Scores", games_path %></div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    var lat = <%= @location.latitude %>
    var lng = <%= @location.longitude %>

    var latGuess = <%= @game.lat_guess %>
    var lngGuess = <%= @game.lng_guess %>

    google.maps.event.addDomListener(window, 'load', init);

    function init() {

    var mapOptions = {

      zoom: 3,

      center: new google.maps.LatLng(lat, lng),

      styles: [{"elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"color":"#f5f5f2"},{"visibility":"on"}]},{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","stylers":[{"visibility":"off"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"visibility":"simplified"},{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"color":"#ffffff"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","stylers":[{"color":"#ffffff"}]},{"featureType":"poi.park","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#71c8d4"}]},{"featureType":"landscape","stylers":[{"color":"#e5e8e7"}]},{"featureType":"poi.park","stylers":[{"color":"#8ba129"}]},{"featureType":"road","stylers":[{"color":"#ffffff"}]},{"featureType":"poi.sports_complex","elementType":"geometry","stylers":[{"color":"#c7c7c7"},{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#a0d3d3"}]},{"featureType":"poi.park","stylers":[{"color":"#91b65d"}]},{"featureType":"poi.park","stylers":[{"gamma":1.51}]},{"featureType":"road.local","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"poi.government","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"landscape","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","stylers":[{"visibility":"simplified"}]},{"featureType":"road"},{"featureType":"road"},{},{"featureType":"road.highway"}]
   };

   var mapElement = document.getElementById('show-map');

   var map = new google.maps.Map(mapElement, mapOptions);

   var marker = new google.maps.Marker({
       position: new google.maps.LatLng(lat, lng),
       map: map,
       animation: google.maps.Animation.DROP
   });

   var markerGuess = new google.maps.Marker({
       position: new google.maps.LatLng(latGuess, lngGuess),
       map: map,
   });

   var drawCoordinates = [
     new google.maps.LatLng(lat, lng),
     new google.maps.LatLng(latGuess, lngGuess)
   ];

   var draw = new google.maps.Polyline({
     path: drawCoordinates,
     geodesic: true,
     strokeColor: '#FF0000',
     strokeOpacity: 1.0,
     strokeWeight: 2
   });

   draw.setMap(map);
}

});
</script>
